.productByCategory {
  padding: 20px;
  margin: 0 !important;
  width: 100%;
}
.productByCategory > h2 {
  margin: 20px 10px 0px;
}
.productByCategory_items {
  display: flex;
  flex-wrap: wrap;
}
.sort {
  display: flex;
  justify-content: flex-end;
  margin: 0px 20px 10px;
}
.sort > span {
  padding: 0 10px;
}
@media screen and (max-width: 500px) {
  .productByCategory > h2 {
    font-size: 18px;
  }
  .sort {
    font-size: 15px;
  }
}
