.headeroption_add {
  display: flex;
  color: black;
}
.createProduct_list {
  padding: 20px auto;
}
.createProduct_list > h2 {
  padding: 0  20px ;
  font-family: 'Roboto';
}
.add {
  display: flex;
  justify-content: flex-end;
  margin: 20px 50px 10px;
  height: 40px;
}
@media screen and (max-width : 500px){
    .createProduct_list > h2 {
        font-size: 18px;
      }
      .createProduct_list {
        padding: 10px;
      }
      .add  {
        margin: 20px ;
    }
  }